.chara_box {
    height: 100%;
    border-radius: 55px;
    width: fit-content;
    padding: 15px;
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    font-family: "FinkHeavy";
    background-color: #f1c883;
    box-shadow: inset 0px 10px 24px rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    opacity: 0;
    max-width: 211px;
}

.chara_box.animate {
    animation: scale-up 0.7s cubic-bezier(0.34, 1.56, 0.64, 1) .2s 1 normal forwards;
}

.all_chara {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.chara_name {
    font-size: 32px;
    margin: 0;
    margin-top: 10px;
    letter-spacing: 1px;
}

.chara_name:before {
    content: attr(content-data);
    position: absolute;
    filter: invert(1);
    text-shadow: 2px 0 0 currentColor, -2px 0 0 currentColor, 0 2px 0 currentColor, 0 -2px 0 currentColor, 1px 1px currentColor, -1px -1px 0 currentColor, 1px -1px 0 currentColor, -1px 1px 0 currentColor;
    z-index: -1;
}

.houseware_name {
    font-size: 28px;
    letter-spacing: 1px;
    color: #fff9e5;
    background: rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    margin: 10px;
    padding: 0 10px;
    font-weight: bold;
    filter: var(--drop-shadow);
}

/*character image*/

.chara_img {
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.4);
    user-select: none;
    width: 200px;
    transition: all 0.3s;
    border-radius: 55px;
}

.chara_img:hover {
    transform: translateY(-2%);
}

/*animation character bubble*/
@keyframes character {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(3px);
    }
}

/*animation character bubble apparition*/
@keyframes fade-character {
    from {
        transform: perspective(2rem) rotateX(1deg) rotateZ(0deg) translateX(20%) translateY(-45%) scale(0.8);
        opacity: 0;
    }
    to {
        transform: perspective(2rem) rotateX(1deg) rotateZ(-6deg) translateX(20%) translateY(-45%) scale(1);
        opacity: 1;
    }
}

/*animation character bubble*/
@keyframes character {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(3px);
    }
}