body {
    overflow: hidden;
}

.resetti {
    width: 30%;
    position: relative;
}

.dialogue_error {
    position: relative;
    display: flex;
    max-height: 50%;
    min-height: 300px;
    min-width: 1024px;
    margin: auto;
    width: 60%;
}

.resetti_img {
    transform: scale(0);
    text-align: center;
    animation: scale-up 0.6s cubic-bezier(0.34, 1.56, 0.64, 1) 0.5s 1 normal forwards;
    text-align: right;
}