.houseware_card {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 600;
    box-shadow: var(--forms-shadow);
    transition: all .3s;
    user-select: text;
    background-image: url('/image/background/dots.png');
    background-color: #fdfdea;
    background-size: 32px 32px;
    margin: auto;
    width: fit-content;
    border-radius: 8px;
    text-align: center;
    max-height: 35em;
    display: flex;
    flex-direction: column;
    height: inherit;
    overflow: auto;
    min-height: inherit;
}


.houseware_info {
    background-color: #e8e7bf;
    border-radius: 8px;
    margin: 4px;
    padding: 4px 8px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: #2a2828;
    font-weight: bold;
    box-shadow: var(--forms-shadow);
    width: fit-content;
}

.houseware_img:not(.houseware_card) {
    user-select: none;
    transition: all 0.3s;
    filter: var(--drop-shadow);
    width: 125px;
}

.houseware_card .houseware_img {
    width: 70px;
}

.houseware_img:not(.houseware_card):hover {
    transform: translateY(-2%);
}

houseware_variations_box {
    flex-flow: row wrap;
}

.houseware_info.color {
    display: none;
}

.houseware_img:hover ~ .houseware_info.color {
    display: block;
    animation: smooth-spawn .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes smooth-spawn {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.houseware_variations_box {
    display: flex;
    flex-flow: column;
}

.houseware_box_item {
    text-align: left;
    display: flex;
}

.color {
    width: fit-content;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}

.houseware_card_name {
    background-color: var(--menu-color);
}

.houseware_undername {
    padding: 10px;
}


