.houseware_card {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 600;
    box-shadow: var(--forms-shadow);
    transition: all .3s;
    user-select: text;
    background-image: url('/image/background/dots.png');
    background-color: #fdfdea;
    background-size: 32px 32px;
    margin: auto;
    width: fit-content;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    max-height: 35em;
    display: flex;
    flex-direction: column;
    height: inherit;
    overflow: auto;
    min-height: inherit;
}


.houseware_info {
    background-color: #e8e7bf;
    border-radius: 8px;
    margin: 4px;
    padding: 4px 8px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: #2a2828;
    font-weight: bold;
    box-shadow: var(--forms-shadow);
    width: fit-content;
}

.houseware_img {
    user-select: none;
    transition: all 0.3s;
    filter: var(--drop-shadow);
    width: 125px;
}

.houseware_img:hover {
    transform: translateY(-2%);
}

.houseware_variations {
    width: 30px;
}

.box {
    display: flex;
    justify-content: center;
}

.meli{
    position: absolute;
    left: -5%;
    top: 28%;
}

.melo{
    position: absolute;
    right: 5%;
    top: 28%;
}