@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Patrick+Hand&family=Roboto+Mono:wght@300&family=Yanone+Kaffeesatz&display=swap'); /*import animal crossing font*/
@font-face {
    font-family: "FinkHeavy";
    src: url("/fonts/FinkHeavy.otf") format("opentype");
}

* {
    scroll-behavior: smooth;
}

/*animal crossing title style*/
h1 {
    font-family: "FinkHeavy";
    font-size: min(60pt, 12vw);
    font-weight: 500;
    margin: 30px 0 -10px 0;
    line-height: 1;
    text-shadow: 2px 2px 3px black;
    color: #F1E369;
}

h3 {
    font-size: 2vw;
}

.tomnook {
    position: absolute;
    filter: drop-shadow(0 0 0.3rem black);
}


:any-link {
    text-decoration: none;
}


.box_content {
    justify-content: center;
    align-items: center;
    text-align: center !important;
}


.title {
    text-align: center;
}

.subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.subtitle img {
    transform: rotate(-20deg);
    margin: -20px -20px 10px;
}

/*background infinite scrolling*/
@keyframes scroll {
    from {
        background-position: 0 0, 50px 50px, 50px 0;
    }
    to {
        background-position: -100px -100px, -50px -50px, -50px -100px;
    }
}