nav .checkbox:checked ~ .m-menu__overlay {
    display: block;
}

nav .m-menu__overlay {
    background-color: rgba(103, 103, 103, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
    z-index: 99;
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #feed9b;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
    z-index: 100;
}

.menu__item {
    color: #7A673F;
    display: block;
    padding: 12px 24px;
    font-family: "FinkHeavy";
    letter-spacing: 1px;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.menu__item:hover {
    font-size: 32px;
    background-color: #FFCF00;
}

.menu__item:hover .letter_one {
    animation: bounce .5s ease;
}

.menu__item:hover .letter_two {
    animation: bounce .5s ease .1s;
}

.menu__item:hover .letter_three {
    animation: bounce .5s ease .2s;
}

.menu__item:hover .letter_four {
    animation: bounce .5s ease .3s;
}

.menu__item:hover .letter_five {
    animation: bounce .5s ease .4s;
}

.menu__item:hover .letter_six {
    animation: bounce .5s ease .5s;
}

.menu__item:hover .letter_seven {
    animation: bounce .5s ease .6s;
}

.menu__item:hover .letter_eight {
    animation: bounce .5s ease .7s;
}

.letter_one, .letter_two, .letter_three, .letter_four, .letter_five, .letter_six, .letter_seven, .letter_eight {
    display: inline-block;
    letter-spacing: -7px;
}

@keyframes bounce {
    0% {
        transform: scale(1, 1) translateY(0);
    }
    10% {
        transform: scale(1.1, .9) translateY(0);
    }
    30% {
        transform: scale(.9, 1.1) translateY(-20px);
    }
    50% {
        transform: scale(1.05, .95) translateY(0);
    }
    58% {
        transform: scale(1, 1) translateY(-7px);
    }
    65% {
        transform: scale(1, 1) translateY(0);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}

/* hamburger */
.checkbox {
    display: none;
}

.button {
    user-select: none;
    position: relative;
    background-color: #f1e369;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: fixed;
    z-index: 101;
    box-shadow: 0px 0px 3px black inset;
    text-align: center;
    cursor: pointer;
    transition: all .5s;
    left: 2vw;
    top: 2vw;
}

.checkbox:checked ~ .button {
    background-color: #feed9b;
    box-shadow: 0px 0px 0px #9e8b57 inset;
    z-index: 6;
}


/* functionality */
.checkbox:checked ~ .background {
    transform: scale(80);
}

.checkbox:checked ~ .nav {
    opacity: 1;
    width: 100%;
    right: 0;
}

/*  */
/* styling hamb ICON */
.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon,
.icon::before,
.icon::after {
    width: 20px;
    height: 1px;
    background-color: #7A673F;
    display: inline-block;
}

.icon::before,
.icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
}

.icon::before {
    top: -0.5rem;
}

.icon::after {
    top: 0.5rem;
}

.checkbox:checked + .button .icon {
    background-color: transparent;
}

.checkbox:checked + .button .icon::before {
    top: 0;
    transform: rotate(135deg);
}

.checkbox:checked + .button .icon::after {
    top: 0;
    transform: rotate(-135deg);
}