<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{.Name}} guide</title>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/background_nook.css">
    <link rel="stylesheet" href="/static/menu.css">
    <link rel="icon" href="{{.Icon}}">
    <script defer src="../scripts/index.js"></script>
</head>
<body>
<div class="hamburger-menu">
    <nav>

        <input class="m-menu__checkbox" id="menu__toggle" type="checkbox"/>
        <label class="menu__btn" for="menu__toggle">
            <span></span>
        </label>
        <label class="m-menu__overlay" for="menu"></label>
        <ul class="menu__box">
            <li><a class="menu__item" href="/">
                    <div class="letter_one">H</div>
                    <div class="letter_two">o</div>
                    <div class="letter_three">m</div>
                    <div class="letter_four">e</div>
                </a></li>
            <li><a class="menu__item" href="/charalist">
                    <div class="letter_one">V</div>
                    <div class="letter_two">i</div>
                    <div class="letter_three">l</div>
                    <div class="letter_four">l</div>
                    <div class="letter_five">a</div>
                    <div class="letter_six">g</div>
                    <div class="letter_seven">e</div>
                    <div class="letter_eight">r</div>
                </a></li>
        </ul>
    </nav>
</div>
<div class="animated-background">
    <div class="title">
        <div class="subtitle">
        <img src="http://acnhapi.com/favicon.ico">
        <h1>Animal Crossing</h1>
        </div>

        <h1 style="font-size: 5vw">{{.Name}} guide</h1>
    </div>
    <img class="chara_img" style="border: 5px solid {{.BubbleColor}};" src={{.Image}}><br>

    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
        <defs>
            <filter id="old-goo">
                <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"/>
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7"
                               result="goo"/>
                <feBlend in="SourceGraphic" in2="goo"/>
            </filter>
            <filter id="fancy-goo">
                <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"/>
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                               result="goo"/>
                <feComposite in="SourceGraphic" in2="goo" operator="atop"/>
            </filter>
        </defs>
    </svg>

    <div class="dialogue">
        <div class="dialogue-blobs">
            <div class="dialogue-blob-top"></div>
            <div class="dialogue-blob-bottom"></div>
            <div class="dialogue-text">
                {{.Saying}}
            </div>
        </div>
        <div class="dialogue-character-wrap">
            <div class="dialogue-character" style="background-color: {{.BubbleColor}}; color: {{.TextColor}}">
                {{.Name}}
            </div>
        </div>
        <a href="#">
            <svg class="arrow" width="45" height="25" viewBox="0 0 45 25" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M22.5 25C18.0184 25 7.59473 12.6404 1.55317 4.96431C-0.122281 2.83559 1.72264 -0.179893 4.39835 0.243337C10.2831 1.17415 18.2164 2.28736 22.5 2.28736C26.7836 2.28736 34.7169 1.17415 40.6017 0.243339C43.2774 -0.17989 45.1223 2.83559 43.4468 4.96431C37.4053 12.6404 26.9816 25 22.5 25Z"
                      fill="#F1AE04"/>
            </svg>
        </a>
    </div>

{{/*    <h3 style="color: {{.TextColor}}">TextColor {{.TextColor}}</h3>*/}}
{{/*    <h3 style="color: {{.BubbleColor}}">BubbleColor {{.BubbleColor}}</h3>*/}}
    <h3>Species : {{.Species}}</h3>
    <h3>Gender : {{.Gender}}</h3>
    <h3>Birthday : {{.Birth}}</h3>
    <h3>Personality : {{.Personality}}</h3>
    <h3>Subtype : {{.Subtype}}</h3>
    <h3>Hobby : {{.Hobby}}</h3>

</div>
</body>
</html>