<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/menu.css">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/background_nook.css">
    <link rel="icon" href="http://acnhapi.com/favicon.ico">
</head>
<body>
<div class="hamburger-menu">
    <nav>
        <input class="m-menu__checkbox" id="menu__toggle" type="checkbox"/>
        <label class="menu__btn" for="menu__toggle">
            <span></span>
        </label>
        <label class="m-menu__overlay" for="menu"></label>
        <ul class="menu__box">
            <li><a class="menu__item" href="/">
                    <div class="b">B</div>
                    <div class="o">O</div>
                    <div class="u">U</div>
                    <div class="n">N</div>
                    <div class="c">C</div>
                    <div class="e">E</div></a></li>
            <li><a class="menu__item" href="/charalist">Villagers</a></li>
        </ul>
    </nav>
</div>
<div class="subtitle">
    <img src="http://acnhapi.com/favicon.ico">
    <h1>Animal Crossing: New Horizons Guide</h1>

</div>

</body>
</html>